@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

30% {
	left: -100%;
}

40% {
    left: -100%;

}

50% {
		left: -200%;

}

60% {
	left: -200%;
}

70% {
	left: -300%;
}

80% {
	left: -300%;
}

90% {
	left: -400%;
}

100% {
	left: -400%;

}

}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite; 

}